{% extends "base.html" %}


{% block title %}
Librarian | Edit Section
{% endblock %}


{% block style %}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom right, #51ebff, #5d5de8);
}

form {
    width: 1000px;
    padding: 50px;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    font-stretch: extra-expanded;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

h1 {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    background-color: #45a049;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    top-margin : 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    color: #fff;
}
.btn-primary:hover {
    background-color: #473fe0;
    border-color: #0062cc;
}
{% endblock %}

{% block content %}


<form method="POST">
    <h1>Edit Section</h1>
    <div>
        <label for="Book Id">Section Id</label>
        <input type="integer" name = "id" value = "{{section.id}}" readonly>
    </div>

    <div>
        <label for="Name">Name</label>
        <input type="text" name = "name" value = "{{section.name}}" required>
    </div>

    <div>
        <label for="Description">Description</label>
        <input type="text" name = "description" value = "{{section.Description}}" required>
    </div>

    <br>

    <div>
        <button class="btn btn-primary" type="submit">Confirm Changes</button>
    </div>
</form>
{% endblock %}

